.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
}

.nav-logo {
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  gap: 2rem;
  background-color: black;
  padding: 10px 1rem;
  border-radius: 100px;
}
.nav-links {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.nav-btn {
  background-color: #0b43a3;
  padding: 10px 1rem;
  border-radius: 100px;
}
